﻿/*
Theme Name: Fullscreen Lite
Theme URI: http://www.sketchthemes.com/themes/fullscreen-onepager-responsive-wordpress-theme/
Description: An onepage, singlepage, landing page, elegant, clean and multipurpose theme FullScreen Lite packs the features that make it the most preferred theme for photographers, creative, business and portfolio site. One Page FullScreen Lite theme entails some fine features likes full width slider, responsive design, multiple layout options and portfolio options. Besides, FullScreen also features modular homepage, layout shortcodes and more.
Version: 1.0.8
Author: SketchThemes
Author URI: http://www.sketchthemes.com/
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: custom-background, custom-colors, custom-header, custom-menu, editor-style, one-column, two-columns, right-sidebar, featured-image-header, sticky-post, theme-options, threaded-comments, translation-ready , full-width-template
Text Domain: fullscreen-lite

Fullscreen Lite WordPress Theme, Copyright 2015 SketchThemes.
Fullscreen Lite WordPress theme is distributed under the terms of the GNU GPL.
-------------------------------------------------------------- */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
 1. Typography
 2. Header
 3. Navigation
 4. Content
 5. Page Title CSS
 6. Front CSS
 7. Form Input tags style
 8. Landing Section
 9. Comments
10. Comments Form
11. 404 Page
12. Widget Areas
13. Search
14. Main Sidebars
15. Left Sidebars
16. SOCIAL ICON
17. Footer
18. Slider ends
19. Pagination
20. Search
21. Theme Check Include Classes
22. Mobile Menu
23. Gallery
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.0 Typography
--------------------------------------------------------------*/
.clear {clear:both;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {background: transparent;border: 0;margin: 0;padding: 0;vertical-align: baseline;}
body { color: #555; font-family: 'Carrois Gothic', sans-serif;  font-size: 14px;  line-height: 22px;font-weight:300;}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {font-weight: 300;  margin-bottom: 20px;  line-height: 22px;}
h1, h2, h3, h4, h5, h6{ color: #555555;font-family: 'Carrois Gothic', sans-serif;font-weight: normal;letter-spacing: -0.5px;}
pre {  overflow: auto;  width: 98%;}
embed {max-width: 100%;}
ol{list-style: decimal outside none;}
ul{list-style-type: disc;}
li{margin-left: 30px;}
dl {margin: 0 0 24px;float: left;}
dt {font-weight: 400;}
dd {margin-bottom: 18px;}
blockquote {background-color: #F54336;border-radius: 2px;font-size: 14px !important; padding:8px 5px 8px 20px;  margin-right: 10px;  margin-bottom: 10px;  color: #FFFFFF;  quotes: none;  font-family: 'open_sansitalic';line-height: 22px;}
cite{font-weight: 400;}
blockquote cite a{color: #FFFFFF;}
iframe { max-width: 100%; width:100%;outline: none;border:none;overflow:hidden;border:none;}
blockquote:before, blockquote:after {  content: '';content: none;}
del {text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;  border-spacing: 0;  }
th{color:#000; text-align: center;font-weight: 400;  }
th,td{padding:3px 5px;  border: 1px solid #CCCCCC; }
a img {border: none;}
a {text-decoration: none;color: #FFA500;}
a, img, a img, input[type="text"], input[type="password"], input, textarea {outline:none;}
a:hover{ color: #555; }


/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/
body.page-template-template-front-page-php #main{margin-top:0 !important;}
#header { position: relative;   z-index: 9999; border-bottom: 1px solid #ccc;background: #fff;padding: 0;}
.skehead-headernav{ left: 0;top: 0;width: 100%;z-index: 200;}
#header.skehead-headernav.skehead-headernav-shrink{position:fixed;-moz-box-sizing: border-box;box-sizing: border-box;}
#logo {transition: height 0.3s ease 0s, line-height 0.3s ease 0s; margin-top: 5px;  margin-bottom: 5px;position: relative;max-height: 62px;}
#logo #site-title { display: block;font-size: 18px;margin: 8px 0 11px;}
.skehead-headernav .logo{ max-width: 100%; max-height: 72px; }
#logo > a {display: block;line-height: 0;}

#logo #site-title a { color: #333333;display: inline-block;font-family: 'Carrois Gothic', sans-serif;font-size: 18px;font-weight: 300;line-height: 23px; margin-top: 5px; text-decoration: none; text-transform: uppercase;} 
#logo #site-description { color: #555;  font-size: 11px; line-height: 15px;position: relative; left: 1px;}

#searchform input[type="submit"] { height: 29px; margin: 0; border-style: none; color: #FFFFFF; display: block; font-family: 'Carrois Gothic', sans-serif;overflow: hidden; padding: 4px 11px; text-decoration: none; width: auto;cursor:pointer;font-size: 12px;font-weight: 300;margin:0;-webkit-padding-before:5px;-webkit-padding-after:5px;-webkit-padding-start:14px;-webkit-padding-end:14px;}

#skehead #skenav { margin-top:0px; }
.bottom-shadow { background: url("images/header_shadow.png") no-repeat scroll 0 0 transparent;  display: block;  height: 25px;  margin-bottom: 15px;  margin-top: -10px;  position: relative;  width: 869px;  }
.fullscreen-image-post img{max-width:100%;}
.skt-header-image {text-align: center; line-height: 0;}
.ad-slider-image {max-width: 100%;text-align: center;}

/*--------------------------------------------------------------
3.0 Navigation
--------------------------------------------------------------*/
#skenav {background:none repeat scroll 0 0 transparent;  display:block;  margin-left:auto;  margin-right:auto;  border:medium none;  } 
#skehead .sub-menu { display: none;  background: none repeat scroll 0 0 #333333; border-radius: 4px; } 
#skenav .ske-menu, ul.menu { margin: 0px;  display:inline-block;  width:auto;  float:right;  }
#skenav .ske-menu ul.menu {  list-style: none;  margin: 0;  }
#skenav .ske-menu .menu li, ul.menu li {  float: left;  position: relative;  margin-left: 0px;  list-style: none outside none;  }
#skenav a {color: #333333;display: block; font-size: 14px; line-height:32px; padding:25px 15px; text-decoration: none; text-transform: capitalize; transition: color 0.1s linear 0s, background 0.1s linear 0s; -webkit-transition: color 0.1s linear 0s, background 0.1s linear 0s;  	-moz-transition: color 0.1s linear 0s, background 0.1s linear 0s; -o-transition: color 0.1s linear 0s, background 0.1s linear 0s; } 

#skenav ul ul {  position: absolute;  top: 100%;  left: 0px;  float: left;  width: 200px;  z-index: 99999;  }
#skenav ul .sub-menu li ,#skenav ul ul li {  display: block; width:100%;  }
#skenav ul .children li:first-child,  #skenav ul .sub-menu li:first-child {  border-top: none;  }
#skenav ul ul li{  border-top: 1px solid rgba(0,0,0,.15);  }
#skenav ul ul ul.sub-menu,#skenav ul ul ul.children{  left: 100%;  top: 0px !important; border-top: 0 none;margin-top:0;  }
#skenav ul ul a {  line-height: 1.2em;  font-size: 13px;  padding: 10px 20px;  width: auto;  height: auto;  color: #FFFFFF;  }

#searchform input[type="submit"] { height: 29px; margin: 0; border-style: none; color: #FFFFFF; display: block; font-family: 'Carrois Gothic', sans-serif;overflow: hidden; padding: 4px 11px; text-decoration: none; width: auto;cursor:pointer;font-size: 12px;font-weight: 300;margin:0;-webkit-padding-before:5px;-webkit-padding-after:5px;-webkit-padding-start:14px;-webkit-padding-end:14px;}

#skenav ul li:hover{  z-index:999999999999;  }
* html #skenav ul li.current_page_item a, * html #skenav ul li.current-menu-ancestor a, * html #skenav ul li.current-menu-item a, * html #skenav ul li.current-menu-parent a, * html #skenav ul li a:hover {  color: #fff;  }
#ful-home { margin-top:-45px; height:25px; text-align: center; position: relative; width: 100%; min-width: 600px; display: block; } 
#header ul#ful-home li{list-style-type:none;margin:0;}
#header ul#ful-home li a { color: #fff; background-color: #333; border-radius: 5px 5px 0 0; border: solid 1px #333; border-bottom: none; height: 90px; padding: 25px 30px; transition: all 300ms ease;}


/*--------------------------------------------------------------
4.0 Content
--------------------------------------------------------------*/
#container { }
#main {  padding: 0 0 0px;  }
#content {  word-wrap: break-word;  -ms-word-wrap: break-word;  padding-right: 1000px}
.left-sidebar #content{margin-top:0px;}
.container.post-wrap { margin-top: 60px;  }
.default-pagetemp #content {}
#content .post:first-child{padding-top:0px}
#content .post { border-bottom: 0px solid #E1E1E1 ;padding-bottom: 40px; padding-top: 40px;}
#content .post.project-temp4{padding-bottom: 26px;}
#content .post.project-temp3{padding-bottom: 29px;}
#content .post.project-temp2{padding-bottom: 26px;}
#content .post.project-temp4 .navigation{margin-bottom:9px;margin-top: 5px;}
#content .post.project-temp3 .navigation{margin-bottom:6px; margin-top: 8px;}
#content .post.project-temp2 .navigation {margin-bottom:9px;margin-top: 5px;}
.home .post:first-child,.archive #content .post:first-child ,.page-template-template-blog-page-php #content .post:first-child,.page-template-template-blog-fullwidth-php #content .post:first-child ,.blog #content div.post:first-child,.page-template-template-blog-left-sidebar-page-php #content .post:first-child  { padding-top: 0;}
.home .post,.blog #content .post,.archive #content .post,.page-template-template-blog-page-php #content .post,.page-template-template-blog-fullwidth-php #content .post ,.page-template-template-blog-left-sidebar-page-php #content .post{border-bottom: 1px dotted #DDDDDD ;padding-bottom: 55px; padding-top: 50px;}
.blog-template #content .post:last-child, .blog #content .post:last-child{border-bottom:0;}
.category #content .post:last-child,.tag #content .post:last-child, .archive  #content .post:last-child, .search  #content .post:last-child{border-bottom:0;}
.blog-template #content, .blog #content {margin-bottom:17px;}
.tag #content, .category #content,.archive  #content, .search  #content {margin-bottom:15px;}
.search #content .post { border-bottom: 1px solid #E1E1E1 ;}
.blog-template .container.post-wrap, .blog .container.post-wrap{margin-top:60px;}
.blog-template .navigation #fullscreen-paginate, .blog .navigation #fullscreen-paginate{margin-bottom:38px;}
.fullwidth-temp .container.post-wrap {margin-top:60px;}
.fullwidth-temp #content .post{padding-bottom:30px;}
.sitemap-temp #content{margin-bottom:30px;}
.left-sidebar #content .post{padding-bottom:50px;}
.default-pagetemp #content .post{padding-bottom:50px;}
.entry {  margin: 10px 0 15px;  }
.entry-title a {  color: #000000;  text-decoration: none;  }
.post-title{ margin-bottom: 4px;}
.post-title a { font-family: 'Carrois Gothic', sans-serif; font-size: 26px; line-height: 30px;transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;} 	
.title{ font-family: 'Carrois Gothic', sans-serif; font-size: 26px; line-height: 30px;} 
.skepost-meta {  color: #999; font-size: 12px; margin-bottom: 15px; word-spacing: 2px } 	
.skepost-meta abbr {  border: none;  }
.skepost-meta abbr:hover {  border-bottom: 1px dotted #666;  }
.skepost {clear: both;  }
.skepost img {margin-bottom: 10px;  }
.skepost input {  margin: 0 0 24px 0;  }
.skepost input.file, .skepost input.button {  margin-right: 24px;  }
.skepost label {  color: #888;  font-size: 12px;  }
.skepost select {  margin: 0 0 24px 0;  }
.skepost sup, .skepost sub {  font-size: 10px;  }
.skepost blockquote.left {  float: left;  margin-left: 0;  margin-right: 24px;  text-align: right;  width: 33%;}
.skepost blockquote.right {  float: right;  margin-left: 24px;  margin-right: 0;  text-align: left;  width: 33%;}
body.page .edit-link {  clear: both;  display: block;  } 
.skepost-meta a {  text-decoration:none; font-weight: 400; color: #999999;}
.skepost-meta span { display: inline-block;margin-right: 1px;padding-top: 0;}
.skepost-meta span i{margin-right: 2px;}
.skepost-meta .category a{  display:inline-block;  }
.main-box .main-box-mid {  margin-bottom: 10px;  }
.readmore {  margin-top:15px;  }
.readmore a {  background-color: #444444;  border-radius: 5px 5px 5px 5px;  color: #FFFFFF;  display: block;  font-style: italic;  height: 24px;  overflow: hidden;  padding: 0 2px 0 10px;  text-decoration: none;  width: 91px;  }
.readmore a:hover {  background-color: #5F5F5F;  }
#content .continue{ text-align:right; }
.continue a { border: 1px solid #999; cursor: pointer; color:#999;  margin-top: 4px; display: inline-block;font-family: 'Carrois Gothic', sans-serif; font-size: 14px;  font-weight: 400;letter-spacing: 1px; line-height: 20px; margin-bottom: 0; padding: 8px 9px; position: relative; text-transform: uppercase; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;} 	
.continue a:hover { background: none repeat scroll 0 0 #F54336; color: #FFFFFF; transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s;  	-moz-transition: all 0.3s linear 0s;  	-o-transition: all 0.3s linear 0s;  }
.sticky-post {  border-bottom: 1px solid rgba(0, 0, 0, 0); font-family: 'Carrois Gothic', sans-serif; font-size: 20px; font-weight: 300; padding-bottom: 10px; padding-top: 35px; text-transform: uppercase; width: 120px;} 	
.sticky-post:first-child{padding-top:0; margin-top: -5px;}
#content .post.sticky { padding-top: 15px;}
.single #content .title{margin-bottom:4px;}
#content.blogsidebar{margin-top:0px;}
#front-content-box .container p {margin:0;}

/*--------------------------------------------------------------
5.0 Page Title CSS
--------------------------------------------------------------*/
.bread-title-holder{background-color: #F8F8F8;display: block;height: 150px; position: relative; text-align: center; width: 100%;  }
.bread-title-holder .container { display: table;height: 100%; position: relative;}
.bread-title-holder .container .row-fluid { display: table-cell; vertical-align: middle;}
.bread-title-holder  .cont_nav {display: block; margin-top:11px; position: relative;}
.bread-title-holder .cont_nav_inner p{margin:0;color:#fff;}

/*--------------------------------------------------------------
6.0 Front CSS
--------------------------------------------------------------*/
.skt-section{margin-top:65px;}
.skt-iconbox.iconbox-top {text-align: center;}
.skt-iconbox.iconbox-top p{margin:0;}
.skt-iconbox.iconbox-top .iconbox-icon {height: auto;position: relative;text-align:center; }
.iconbox-content { line-height: 22px; margin-top: 45px; }

.skt-header-image{display: none; line-height: 0;}
.home .skt-header-image{display: block;}
.front-blog-wrap.row-fluid .span4:nth-child(3n+1) { margin-left: 0;}
.front-blog-wrap.row-fluid .span4{padding-bottom:25px; min-height: 350px;}
#front-page-content img {max-width: 100%; }

.big-paragraph { font-size: 18px; line-height: 24px; margin: 30px auto 50px auto; text-align: center; font-style: italic; font-weight: 500; width: 90%; }
.skt-animated.skt-viewport.small-to-large{ animation:skt_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1; -webkit-animation:skt_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1; -moz-animation:skt_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;-o-animation:skt_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1; opacity:1; }
@keyframes skt_zoom{0%{transform:scale(.3);opacity:.1} 100%{transform:scale(1);opacity:1}}
@-webkit-keyframes skt_zoom{0%{-webkit-transform:scale(.3);opacity:.1} 100%{-webkit-transform:scale(1);opacity:1}}
@-moz-keyframes skt_zoom{0%{-moz-transform:scale(.3);opacity:.1} 100%{-moz-transform:scale(1);opacity:1}}
@-o-keyframes skt_zoom{0%{-o-transform:scale(.3);opacity:.1} 100%{-o-transform:scale(1);opacity:1}}
.iconbox-icon i {color: #fff; font-size: 34px; left: 0; margin-top: -17px; position: absolute; right: 0; text-align: center; top: 50%; transform: rotate(-45deg); transition: all 0.3s linear 0s;} 	 	 
.skt-iconbox.iconbox-top .iconbox-icon img {top:0; position: relative; top: 0; height: 150px; position: relative; width: 150px;     margin-bottom:0px; transition-duration:0.5s; transition-timing-function: ease; transition-delay:0s; -moz-transition-duration:0.5s; -moz-transition-timing-function:ease; -moz-transition-delay:0s; -webkit-transition-duration:0.5s; -webkit-transition-timing-function:ease; -webkit-transition-delay:0s; -o-transition-duration:0.5s; -o-transition-timing-function:ease; -o-transition-delay:0s; }
a.skt-featured-icons{    background: none repeat scroll 0 0 #ffa500; border-radius: 5px; display: inline-block; height: 95px; position: relative; text-align: center; transform: rotate(45deg); width: 95px;} 
.iconbox-icon a.skt-featured-icons i{ -webkit-transition: all 0.5s ease-in-out; -moz-transition: all  0.5s ease-in-out; -o-transition: all  0.5s ease-in-out; -ms-transition: all  0.5s ease-in-out; }
.skt-featured-images {display: block;line-height: 0;position: relative;margin: -25px 0;}
.skt-featured-image-mask{display: block;height: 150px;position: absolute;width: 150px;left: 0; right: 0; margin: 0 auto;z-index: 10;}
.skt-iconbox.iconbox-top .iconbox-content h4:after {background-color: #999999; bottom: 0; content: "";  display: block;height: 1px; left: 50%; margin-left: -25px; position: absolute; width: 50px;  }
.skt-iconbox.iconbox-top .iconbox-content h4 {margin-bottom: 20px;padding-bottom: 20px;}
.skt-iconbox .iconbox-content h4 {font-size: 22px; position: relative; text-transform: capitalize;} 	
.iconbox-content h4{transition: all .5s ease 0s; -webkit-transition: all .5s ease 0s; -moz-transition: all .5s ease 0s; -o-transition: all .5s ease 0s;}
.mid-box-mid .mid-box:hover .iconbox-content h4{transition: all .5s ease 0s; -webkit-transition: all .5s ease 0s; -moz-transition: all .5s ease 0s; -o-transition: all .5s ease 0s;}

/*--------------------------------------------------------------
7.0 Form Input tags style
--------------------------------------------------------------*/
form input[type="text"],form input[type="email"],
form input[type="url"],form input[type="tel"],
form input[type="number"],form input[type="range"],
form input[type="date"], form input[type="file"]{  background: #f9f9f9; border: 1px solid #e1e1e1; color: #666666; font-family: 'Roboto Condensed',sans-serif; font-size: 15px; font-weight: 300; height:40px; margin: 5px 0 0; padding: 4px; width: 100%;box-sizing: border-box;}
form select{ background: none repeat scroll 0 0 transparent; border: 1px solid #e1e1e1; padding: 4px; margin: 5px 0 0; width: 97.5%; }
form input[type="text"]:focus,form input[type="email"]:focus,
form input[type="url"]:focus,form input[type="tel"]:focus,
form input[type="number"]:focus,form input[type="range"]:focus,
form input[type="date"]:focus,form input[type="file"]:focus,form textarea:focus{ border: 1px solid #F54336;}
form textarea{ background: #f9f9f9; border: 1px solid #e1e1e1; height: 182px; padding: 4px; margin-top: 4px;width: 100%;box-sizing: border-box; color: #666666; font-family: 'Roboto Condensed',sans-serif; font-size: 15px; font-weight: 300;  margin-bottom: 0px;} 	
form input[type="submit"]{background:none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #F54336; cursor: pointer; display: inline-block;font-family: 'Roboto Condensed',sans-serif; font-size: 15px; font-weight: 300; margin-bottom: 0; padding: 8px 25px; position: relative;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}  
form input[type="submit"]:hover { background: none repeat scroll 0 0 #F54336; color: #FFFFFF; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s; } 


/*--------------------------------------------------------------
8.0 Landing Section
--------------------------------------------------------------*//
.landing-page-title {margin-bottom: 30px;}
.landing-section h3 { font-size: 22px; font-weight: 400; letter-spacing: 1px; margin: 0 0 13px; padding-top: 0; text-align: center; }
.landing-section .border_center { border-bottom: 1px solid #222; display: block; margin: 0 auto 10px; width: 50px; } 

/*--------------------------------------------------------------
9.0 Comments
--------------------------------------------------------------*/
.comment-box-top {background: url("images/comment-box-top.jpg") no-repeat scroll 0 0 transparent;height: 6px;width: 612px; }
.comment-box-mid {background: url("images/comment-box-mid.jpg") repeat-y scroll 0 0 transparent;width: 612px;padding: 20px 0 0 25px; }
.comment-box-btm {background: url("images/comment-box-btm.jpg") no-repeat scroll 0 0 transparent;height: 6px;width: 612px; }
.leavereply {margin-bottom: 20px;  }
.note { font-size: 10px;  }
#comments {clear: both;  }
#comments .navigation {padding: 0 0 18px 0;  }
h3#comments-title, h3#reply-title {color: #333;font-size: 20px; font-weight: 300; margin-bottom: 0; }
h3#comments-title {padding: 24px 0;  }
.commentlist {list-style: none;  margin: 0;  }
.commentlist li {margin: 0 0 0 25px;  }
.commentlist p { margin: 5px 0;  }
.commentlist li.comment {line-height: 24px;  margin: 0 0 10px 0;  position: relative;  }
.commentlist li:last-child { margin-bottom: 0;  }
#comments .comment-body ul, #comments .comment-body ol {  margin-bottom: 18px;  }
#comments .comment-body p:last-child {  margin-bottom: 6px;  }
#comments .comment-body blockquote p:last-child {  margin-bottom: 24px;  }
.commentlist ol {  list-style: decimal;  }
#content .commentlist .avatar {  height: 77px;  left: -100px;  margin-right: 5px;  position: absolute;  top: 4px;  width: 77px;  }
.comment-author {   position: relative;  }
.comment-author cite {  color: #000;  font-style: normal;  font-weight: 400;  }
.comment-author .says {  font-style: italic;  }
.comment-meta {  font-size: 12px;  margin: 0 0 18px 0;  }
.comment-meta a{  text-decoration: none;  }
.comment-meta a:hover {  color: #ff4b33;  }
.commentlist .bypostauthor {}
.reply {  font-size: 12px;  padding: 0 0 10px;  position: absolute;  right: 0;  top: 10px;  }
.reply a, a.comment-edit-link {  color: #222;  }
.reply a:hover, a.comment-edit-link:hover {  color: #ff4b33;  }
.commentlist .children {  list-style: none;  margin: 0;  }
.commentlist .children li {  background: url("images/corner-arrow.png") no-repeat scroll left 0 transparent;  padding-left: 45px;  }
.comment-body {  border-bottom: 1px dotted #EEEEEE;  margin-bottom: 10px;  padding:12px 0 12px 100px;  }
.comment-edit-link {  display: none;  }
.nopassword, .nocomments {  display: none;  }
#comments .pingback {  border-bottom: 1px solid #e7e7e7;  margin-bottom: 18px;  padding-bottom: 18px;  }
.commentlist li.comment+li.pingback {  margin-top: -6px;  }
#comments .pingback p {  color: #888;  display: block;  font-size: 12px;  line-height: 18px;  margin: 0;  }
#comments .pingback .url {  font-size: 13px;  font-style: italic;  }

/*--------------------------------------------------------------
10.0 Comments Form
--------------------------------------------------------------*/
input[type=submit] {color: #333;}
#content #respond {border: 1px dotted #EEEEEE;  color: #000000;  font-size: 20px;  margin-bottom: 10px;  padding: 20px;  position: relative;  margin-top: 25px;}
.comments-template {border-top:1px dotted #EEEEEE;  margin-bottom: 20px;  margin-top: 20px;}
.comments-template #commentsbox { padding-top: 10px;}
.comments-template a {text-decoration: none; }
.comments-template .reply  a {  border: 1px solid #F54336;  cursor: pointer;  display: inline-block;font-family: 'Carrois Gothic', sans-serif;font-size: 14px !important;letter-spacing: 1px; text-transform: uppercase;line-height: 19px; margin-bottom: 0;  padding:7px 22px;  position: relative;  transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s;  -moz-transition: all 0.3s linear 0s;  -o-transition: all 0.3s linear 0s;  text-decoration: none;  }
.comments-template .reply  a:hover { background: none repeat scroll 0 0 #F54336;color: #FFFFFF; transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}
#comments {  color:#333;  font-size:18px;  margin-bottom:0;  padding:10px 0;  }
.commentmetadata {  margin:0 0 15px;  position: relative;  }
.commenttext {  font-size: 14px;  margin-bottom: 10px;  margin-left: 10px;  margin-right: 5px;  }
.postmetadata {  margin:7px 0;  padding:2px 10px;  }
.postmetadata a {  color:#404040;  text-decoration:none;  }
#respond p {     clear: both;      height: 40px;      margin: 0;  }
#respond .comment-notes {  font-size: 12px;  margin-bottom: 1em;   color: #666666;}
#respond .logged-in-as{  font-size: 12px;  }
.form-allowed-tags {  line-height: 1em;  }
.children #respond {  margin: 0 0px 0 0;  }
h3#reply-title {  margin: 18px 0;  }
#comments-list #respond {  margin: 0 0 18px 0;  }
#comments-list ul #respond {  margin: 0;  }
#cancel-comment-reply-link {  font-size: 12px;  font-weight: normal;  line-height: 18px;  color: #888;  text-decoration: none;  }
#respond .required {  color: #ff4b33;font-size: 16px;}
#respond label {  float: left;font-size: 14px; margin-top: 5px;color:#666;}
#respond input[type="submit"] {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #F54336; cursor: pointer; display: inline-block; height: auto;font-family: 'Carrois Gothic', sans-serif;font-size: 14px !important;letter-spacing: 1px; margin-bottom: 0;padding: 8px 25px;position: relative; text-transform: uppercase;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;  }
#respond input[type="submit"]:hover {background: none repeat scroll 0 0 #F54336; color: #FFFFFF; transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;  }
#respond input, #respond textarea { background: none repeat scroll 0 0 #F9F9F9; border: 1px solid #E1E1E1; color: #666666; float: right;font-family: 'Carrois Gothic', sans-serif;font-size: 12px; font-weight: 300; height: 30px; margin: 0 0 22px; padding: 4px; width: 78%;}  	
#respond .comment-form-comment {      height: 102px;  }
#commentform .submit {  float: right;  width: 175px;  }
#respond textarea {  height: 182px;  overflow:auto;  }
.form {  width: 500px;  }
#commentform .logged-in-comment {  font-family: Times New Roman;  font-size: 16px;  margin-bottom: 15px;  color: #888888;  }
#commentform  .logged-in-comment a {  color: #111;  text-decoration: none;  }
#commentform  .logged-in-comment a:hover {  color: #000;  }
#respond #input {  float: right;  margin: 0 0 20px;  width: 420px;  }
#respond .form-allowed-tags {  clear: both;  display: none;  }
#respond .form-allowed-tags code {  font-size: 11px;  }
#respond .form-submit {  margin:12px 0 0;  }
#respond .form-submit input {  font-size: 15px;  width: auto;  outline:none;  }
#commentform .left-label {  float: left;  margin-bottom: 15px;  width: 240px;  }
#commentform .right-input {  float: left;  }
#commentform .input {  float: right;  margin-top: 15px;  width: 380px;  }
#commentform .input input[type="submit"] {  float: left;  }
.cancel-comment-reply {  float: right;  margin-bottom: 15px;  }

/*--------------------------------------------------------------
11.0 404 Page
--------------------------------------------------------------*/
.skepost._404-page { text-align: center; }
._404-page form { display: inline-block; }
._404-page form input{margin-bottom:0;}
.error-txt-first {font-size: 150px;line-height: 150px;margin-top: 32px;}
.error-txt { font-size: 180px;  line-height: 220px;}
._404-page p { font-size: 18px; line-height: 28px; margin-top:40px;margin-bottom: 40px;} 	
#error-404 { margin-top: 20px; }

/*--------------------------------------------------------------
12.0 Widget Areas
--------------------------------------------------------------*/
.ske_widget ul {  list-style: none;  margin-left: 0;}
.ske_widget ul.menu{float: none;width:100%;}
.ske_widget ul.menu li{float:none;}
.ske_widget ul.menu li a {margin-left:3px;}
.ske_widget ul ul {list-style: none;  margin-left:0px;}
.ske_search #s {width: 60%;  }
.ske_search label {display: none;  }
.error404 #searchform input[type="text"],
.search #searchform input[type="text"], 
#sidebar #searchform input[type="text"],#footer #searchform input[type="text"] { margin: 0; border: 1px solid #DDDDDD; color: #666; font-family: 'Carrois Gothic', sans-serif; height: 29px; padding-left: 5px; width: 197px;border-right:0; font-size: 12px;font-weight: 300;} 
#searchform input[type="submit"] { height: 29px; margin: 0; border-style: none; color: #FFFFFF; display: block; font-family: 'Carrois Gothic', sans-serif;overflow: hidden; padding: 4px 11px; text-decoration: none; width: auto;cursor:pointer;font-size: 12px;font-weight: 300;margin:0;-webkit-padding-before:5px;-webkit-padding-after:5px;-webkit-padding-start:14px;-webkit-padding-end:14px;} 	
#footer #searchform input[type="text"]{border:0;height:27px;}
.ske-container {margin:0 0 40px;} 
.widget_search .ske-title {border-bottom: none;}
.ske-title {font-size: 16px;  font-weight: bold;line-height: 23px;  margin-bottom: 10px;  font-size: 24px;}
.ske-container img,.ske-container select {height: auto;max-width: 100%;  }
.ske_widget a:link,.ske_widget a:visited {text-decoration: none;  color: #666666;}
.ske_widget a:active,.ske_widget a:hover {text-decoration: none;  color: #000;}
.ske_widget a.image:hover {padding:0;}
#wp_tag_cloud div {line-height: 1.6em;}
#wp-calendar {background: none repeat scroll 0 0 #F54336;color: #FFFFFF;padding: 2px;  width: 100%;  }
#wp-calendar caption {color: #525252;font-size: 13px;font-weight:normal;padding-bottom: 4px;  text-align: left;  }
#wp-calendar thead {font-size: 11px;}
#wp-calendar thead th {border: medium none;color: #FFFFFF;font-family: 'Carrois Gothic', sans-serif;font-size: 12px;padding: 9px 5px;text-align: center;}
#wp-calendar tbody {color: #aaa;}
#wp-calendar tbody td {  border: medium none;  padding: 3px 0 2px;  text-align: center;color:#f2f2f2; font-size:12px; }
#wp-calendar a { color: #FFFFFF;font-family: 'Carrois Gothic', sans-serif; font-size: 13px; font-weight: 400; } 
#wp-calendar tbody a { background: none repeat scroll 0 0 #F0F0F0; color: #333333; display: block; font-weight: 400; height: 23px; line-height: 24px; margin: 0 auto; text-align: center; width: 25px; } 
#wp-calendar a:hover {  color: #000;}
tfoot td {padding: 9px 5px;}
#wp-calendar  td {  border: medium none;}
#wp-calendar tbody .pad {background: none;}
#wp-calendar tfoot #next {text-align: right;}
#sidebar div.follow-icons li a{background: none repeat scroll 0 0 #eee;}
#sidebar div.follow-icons  .social li a:before{color:#333;}
#sidebar div.follow-icons  .social li a:hover:before{color:#fff;}
#sidebar select{ border: 1px solid #DDDDDD;color: #666666;font-family: 'Carrois Gothic', sans-serif;font-size: 14px;padding: 4px;width: 100%;}
.ske_widget .widget_tag_cloud a,.ske_widget .tagcloud a {    background: none repeat scroll 0 0 #EEEEEE;    color: #333333;    display: inline-block;    font-size: 12px !important;    margin-bottom: 5px;    padding: 6px 10px;    transition: all 1s ease 0s;}
.ske_widget .widget_tag_cloud a:hover,.ske_widget .tagcloud a:hover {color:#333333;}
.ske_widget .widget_tag_cloud a,.ske-container .tagcloud a {    border-radius: 2px;    color: #333333;    font-weight: 400;    line-height: 20px;    margin-right: 2px;    text-transform: capitalize;}
.ske-footer-container ul.sub-menu li {border: medium none;margin:0 0 0 10px;}
.ske-footer-container ul.sub-menu {margin-bottom: 0;}

/*--------------------------------------------------------------
13.0 Search
--------------------------------------------------------------*/
#search {  float:right;  height:55px;  }
#search input[type="text"] {  background:none repeat scroll 0 0 #545454;  border:0 solid #CCCCCC;  padding:3px;  color:#D7D7D7;  float:left;  margin-right:10px;  }
#search input[type="submit"] {  background-color:#393939;  border:0 none;  color:#D7D7D7;  height:20px;  width:60px;  }

/*--------------------------------------------------------------
14.0 Main Sidebars
--------------------------------------------------------------*/
#sidebar { float:right; }
#sidebar  .skeside {width:100%;float:left;margin-bottom: 25px;}
.front-page #sidebar {  padding-left: 0;  }
#main .ske_widget ul {  margin-left: 0;  }
#main .ske_widget ul ul.children {  margin:0;  padding:0;  }
#main .ske_widget ul ul.children li,#main .ske_widget ul ul.sub-menu li {border-bottom:none;padding-bottom:0;}
.ske_widget ul ul li:before, .widget_nav_menu ul li:before, .widget_pages ul li:before, .widget_categories ul li:before, .wpb_taxonomy ul li:before, .widget_recent_entries ul li:before, .widget_recent_comments ul li:before, .widget_archive ul li:before, .widget_meta ul li:before{  	margin-right: 5px; color: #636363; /*content: "\f0da";*/  font-size: 12px; font-family: 'FontAwesome';  }
#main .ske_widget ul ul li {border-bottom: 1px dotted #eee;  line-height: normal;  margin: 0;  padding: 9px 0;  display: block;  width:100%;  }
#sidebar_1 {}  
#sidebar_1 .ske-container img {  border: 3px solid #CCCCCC;  margin: 0 4px 8px;  padding: 2px;  }
#sidebar_1 .ske-container img:hover {  border: 3px solid #898989;  }
.ske_widget ul.social{margin-bottom:0;}
#sidebar .ske_widget div.follow-icons ul.social li:before{margin-right:0px;}
#sidebar .ske_widget div.follow-icons ul.social li {margin-top:0;margin-bottom:10px;}
#sidebar .ske-title,#footer .sitename{font-family: 'Carrois Gothic', sans-serif; font-size: 18px; letter-spacing: 2px; margin-bottom: 25px; text-transform: uppercase;} 	  	
#footer #wp-calendar {background:#2C2D2E; }
#footer #wp-calendar thead th{color:#ddd;}
#footer #wp-calendar caption {color:#ccc;}
#footer .tagcloud a {border-radius: 2px;}
#footer select { width: 100%;padding: 5px;font-family: 'Carrois Gothic', sans-serif;font-size: 12px;border: 0;  color: #666;}

/*--------------------------------------------------------------
15.0 Left Sidebars
--------------------------------------------------------------*/
.left-sidebar #sidebar{padding-right: 0;  padding-left: 0;float:left;margin-left:0;}
.left-sidebar #content{float:right;}

/*--------------------------------------------------------------
16.0 SOCIAL ICON
--------------------------------------------------------------*/
.social_icon { margin-top:15px; margin-bottom: 15px;text-align: center;}
.social_icon ul { margin: 0;}
.social_icon li {display: inline-block;list-style-type: none;margin-left: 0;}
.social_icon a {  background: none repeat scroll 0 0 #222222;border-radius: 2px;display: inline-block; font-size: 16px; height: 23px; line-height: 23px; margin-left: 0; margin-right:10px; margin-top: 0; padding: 5px; text-align: center; width: 23px;color: #FFFFFF;}
.social_icon li a:hover,.social_icon li a{-webkit-transition:all .5s ease 0s;-moz-transition: all .5s ease 0s;-o-transition: all .5s ease 0s;transition: all .5s ease 0s;}
.social_icon li.fb-icon a:hover { background: none repeat scroll 0 0 #3a5999; }
.social_icon li.tw-icon a:hover { background: none repeat scroll 0 0 #3aa9de; }
.social_icon li.dribbble-icon a:hover { background: none repeat scroll 0 0 #ea4c89; }
.social_icon li.tumblr-icon a:hover { background: none repeat scroll 0 0 #35465c; }
.social_icon li.pinterest-icon a:hover { background: none repeat scroll 0 0 #cb2028; }
.social_icon li.linkedin-icon a:hover { background: none repeat scroll 0 0 #007bb5; }
.social_icon li.skype-icon a:hover { background: none repeat scroll 0 0 #00aff0; }
.social_icon li.instagram-icon a:hover { background: none repeat scroll 0 0 #125688; }
.social_icon li.vimeo-icon a:hover { background: none repeat scroll 0 0  #aad450; }

/*--------------------------------------------------------------
17.0 Footer
--------------------------------------------------------------*/
#footer { background-color: #303132; border-top: 0 solid #30B7FF; color: #747474; margin-bottom: 0} 	
#footer .first_wrapper {margin: 0 auto;  height: 64px;  color: #858585;}
#footer .first_wrapper .siteinfo {float: left;  height: auto;  margin-left: 20px;  padding: 10px 0;}
.footer-seperator {height: 1px;margin-bottom: 5px;}
.siteinfo .sitename {margin-bottom: 5px;} 
.siteinfo .sitename a {color: #FFFFFF;font-size: 20px;text-decoration: none;}
.siteinfo .sitedescription {color: #858585;font-size: 12px;}
#footer .second_wrapper { }
#footer .third_wrapper { background-color: #2D2E2F; color: #777777;font-family: 'Carrois Gothic', sans-serif; margin: 0 auto; padding: 15px 0;}
#footer .ske-footer-container {float: left;padding-top: 41px; margin-bottom:41px;}
#footer li.ske-footer-container {list-style: none outside none;}
.ske-title.ske-footer-title {color: #777777;font-family: 'Carrois Gothic', sans-serif; font-size: 13px; letter-spacing: 2px; margin-bottom: 20px; padding-bottom: 5px; text-transform: uppercase;} 	
.ske-footer-container ul li a,.ske_widget a {  height: 20px;  margin-bottom: 5px;  transition: all .5s linear 0s; -moz-transition: all .5s ease 0s; -webkit-transition: all .5s ease 0s; -o-transition: all .5s ease 0s;  }
.ske-footer-container ul li a:hover,.ske_widget a:hover{transition: all .5s linear 0s; -moz-transition: all .5s ease 0s; -webkit-transition: all .5s ease 0s; -o-transition: all .5s ease 0s;}
.ske-footer-container ul li { border-bottom: 1px dotted #3B3B3B; list-style: none outside none; margin-bottom: 7px; margin-left: 0; padding-bottom: 7px; padding-left: 1px;}
.ske-footer-container p, .ske-footer-container ul li a {color: #ccc;line-height: 18px;}
#footer .third_wrapper .copyright {line-height: 20px;   min-height: inherit;} 
#footer .third_wrapper .owner {line-height: 20px;  text-align: right;  float: right;   min-height: inherit;}
#footer .third_wrapper a {color: #969595;  text-decoration: none; }
#footer .third_wrapper a:hover {color: #F54336;}
a#backtop:before{color: #FFFFFF;content: "\f106"; display: block; font-family: 'FontAwesome'; font-size:14px; margin-top: 9px; text-align: center;}
a#backtop {background: none no-repeat scroll 0 0 #F54336; bottom:7px; height: 35px; line-height: 16px; position: fixed; right: 30px; text-decoration: none; width: 35px; z-index: 9999} 	
.ske-footer-container ul li:before { content: none; } 
.ske-footer-container .menu li { display: block; float: none; } 
.ske-footer-container .menu { float: none; width: 100%; } 

/*--------------------------------------------------------------
18.0 Slider ends
--------------------------------------------------------------*/
.home .featured-image{width: auto; max-width: 100%;height: auto;}
.featured-image {display: block;position: relative;text-align: center; width: 100%; z-index: 1;}
.featured-image-shadow-box {overflow: hidden;margin-bottom: 22px;  }
.featured_image_shadow {  margin-top: -25px;  position: relative;  z-index:0;  }
ul.childpages {  list-style-type: disc;  margin-left: 20px;  }
.childpages li a {  text-decoration: none;  }
.childpages li a:hover {  padding: 0 2px;  }

/*--------------------------------------------------------------
19.0 Pagination
--------------------------------------------------------------*/
#fullscreen-paginate{ display: inline-block; font-size: 13px;margin: 20px 0;position: relative;text-align: center;width: 100%;}
#fullscreen-paginate a{ border: 1px solid #E0DEDE;  	display:inline-block;height: 32px;line-height: 31px;padding: 0;width: 32px;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;}
#fullscreen-paginate a:hover{background: none repeat scroll 0 0 #F54336;color: #FFFFFF;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;}
#fullscreen-paginate .fullscreen-prev{ float: left;left: 0;margin: 0 3px 6px 0;position: absolute;}
#fullscreen-paginate .fullscreen-next{ float: right;margin: 0 0 6px 3px;position: absolute;right: 0;}
#fullscreen-paginate .fullscreen-page{margin:0 3px 6px;}
#fullscreen-paginate .icon-angle-right,#fullscreen-paginate .icon-angle-left {font-size: 24px;line-height: 30px;}
#fullscreen-paginate .fullscreen-current{  background: none repeat scroll 0 0 #F54336;color: #FFFFFF;border: 1px solid #E0DEDE;display:inline-block;height: 32px;line-height: 31px;padding: 0; width: 32px;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;  	-moz-transition:all 1s ease 0s;-o-transition:all 1s ease 0s;}
.navigation {color: #888888;font-size: 13px;line-height: 18px; margin: 10px 0 0;  overflow: hidden;  }
.navigation.blog-navigation{margin-top:35px;}
.category .blog-navigation,.tag .blog-navigation, .archive  .blog-navigation, .search  .blog-navigation{margin-bottom:35px;}
.nav-previous {float: left;width: 50%;}
.nav-next {float: right; text-align: right;width: 50%;  }

/*--------------------------------------------------------------
20.0 Search
--------------------------------------------------------------*/
#searchform .searchleft { float: left; }
#searchform .searchright {float: left; }

/*--------------------------------------------------------------
21.0 Theme Check Include Classes
--------------------------------------------------------------*/
.wp-caption {  background: none repeat scroll 0 0 #FFFFFF;  border: 1px solid #F0F0F0;  padding: 5px 3px;  text-align: center;  border: 1px solid #EEEEEE;  max-width: 100%;  }
.wp-caption-text {  margin-bottom: 5px;  margin-top: 5px;  font-size: 11px;  } 
.sticky {}
.gallery-caption {}
.gallery-item dd {float: none;}
.alignright {float: right;margin: 5px 0px 20px 20px;}
.alignleft {float: left;margin: 5px 20px 20px 0;}
.aligncenter {display: block;  margin: 5px auto;}
.alignnone.size-full {max-width: 100%;}
#content .alignright {float: right;margin: 5px 0px 20px 20px;}
#content .alignleft {float: left;margin: 5px 20px 20px 0;}
#content .aligncenter {display: block;  margin: 5px auto;}
#content .alignnone.size-full {max-width: 100%;}
.screen-reader-text {clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px); display: block; position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
#content img, #sider-bar img { height: auto;margin: 0;max-width: 100%;}
#content table {border: 1px solid #E7E7E7;margin: 0;text-align: left;width: 99%;margin: 0 0 10px;  }
#content tr td {border: 1px solid #CCCCCC;padding: 6px 24px;text-align: center;  }

/*--------------------------------------------------------------
22.0 Mobile Menu
--------------------------------------------------------------*/
#menu-icon{  display:none;  }
.responsive-nav-button {background-color: #D6D6D6;border-radius: 3px 3px 3px 3px; display: none;font-family: "FontAwesome";font-size: 21px;font-style: normal;font-weight: normal;height: 35px;line-height: 37px;text-align: center;vertical-align: middle;width: 35px; }
#mini-menu{background: url("images/menuulbg.png") repeat scroll 0 0 transparent;display: none;position: absolute;width: 470px;z-index: 99999999;}

/*--------------------------------------------------------------
23.0 Gallery
--------------------------------------------------------------*/
.gallery ul li a img{  border: none;  }
.gallery ul li{  position: relative;  z-index: 1;  }
.gallery_2columns{  list-style: none;  margin: 0 0 0 -20px;  width: 700px;  }
.gallery_2columns li{  display: inline;  float: left;  width: 330px;  height: 220px;  margin: 0 0 20px 20px;  position: relative;  }
.gallery a span{  z-index: 2;  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  display: none;  cursor: pointer;  }
.gallery a span.image_hover {  background: url("../images/hover_image_big.png") no-repeat scroll center center #000000;  } 
.single .thumb-wrap span.image_hover{	background: url("../images/hover_image_big.png") no-repeat scroll center center #000000;}
.single .thumb-wrap a span { cursor: pointer;    display: none;    height: 100%;    left: 0;    position: absolute;    top: 0;    width: 100%;    z-index: 2;}
.gallery a span.video_hover{  background: black url(images/hover_video_big.png) no-repeat center center;  }
